<%= form_for [@election, @ballot], :html => { :class => 'form-horizontal' } do |f| %>
  HALLO

  <div class="form-actions">
    <%= f.submit 'Cast Ballot', :class => 'btn btn-primary' %>
  </div>
<% end %>
