<% if model.errors.any? %>
  <div class="alert">
    <h3><%= pluralize(model.errors.count, "error") %> prohibited saving</h3>

    <ul>
      <% model.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>