<%= content_for :head do %>
  <meta name="google-signin-client_id" content="924897136295-i2u4pj2fqvromc1cm9fprq9928ug782r.apps.googleusercontent.com">
<% end %>

<%= content_for :javascript do %>
  <script>
    function onSuccess(user) {
//      console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
//      console.log('Name: ' + profile.getName());
//      console.log('Image URL: ' + profile.getImageUrl());
//      console.log('Email: ' + profile.getEmail());

      var token = user.getAuthResponse().id_token
        , profile = user.getBasicProfile();
      $
        .post('<%= user_session_path %>', {
          token: token,
          first_name: profile.getGivenName(),
          last_name: profile.getFamilyName(),
          email: profile.getEmail()
        })
        .done(function(data) {

        })
        .fail(function() {
          console.log("LOGIN FAILED");
        });


    }

    function onFailure() {
      console.log('failed');
    }

    function renderButton() {
      gapi.signin2.render('signInButton', {
        'scope': 'profile email',
        'width': 240,
        'height': 50,
        'longtitle': true,
        'theme': 'dark',
        'onsuccess': onSuccess,
        'onfailure': onFailure
      });
    }
  </script>
  <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
<% end %>

<div id="signInButton"></div>
